<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: body">
<body>
<h2>Publishers</h2>
<a th:href="@{/publishers/new}" class="btn btn-success mb-2">Add Publisher</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="publisher : ${publishers}">
        <td th:text="${publisher.name}">Name</td>
        <td th:text="${publisher.address}">Address</td>
        <td>
            <a th:href="@{'/publishers/edit/' + ${publisher.id}}" class="btn btn-primary btn-sm">Edit</a>
            <a th:href="@{'/publishers/delete/' + ${publisher.id}}" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
